html {
  font-size: 18px;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #2e354f;
}

.section-one {
  /* font-size: 20px; */
}
ul {
  font-size: 1rem;
}

img {
  width: 100%;
}

h1,
h2,
strong {
  font-weight: 900;
}

/* Typography */
h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  color: #ef5839;
}

a {
  color: #ef5839;
}

a:hover,
a:focus {
  color: #d4b44c;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 18px 25px;
  text-decoration: none;
}

.btn-accent {
  color: #ef5839;
  color: #fff;
}

.btn-accent:hover {
  color: #2e354f;
  background: #d4b44c;
  /* transform: scale(0.7); */
}

.btn-white {
  background: #fff;
  color: #2e354f;
}

.btn-white:hover {
  color: #2e354f;
  background: #999;
  transform: scale(0.98);
}

/* Layout */

header {
  background: #2e354f;
  padding: 45px 0;
  color: #fff;
}

section {
  padding: 45px 0;
}

.container {
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
  /* border: 2px solid magenta; */
}

.section-two {
  background: #2e354f;
  color: #fff;
}
