body {
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
}
/* Typography */

h1 {
  font-size: 3rem;
  color: #212614;
  text-align: center;
}

h1 span {
  color: #b7832f;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

/* Layout */

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 100%; */
}
.container {
  max-width: 980px;
  margin: 0 auto;
  width: 80%;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 1em 0;
}

.inner_columns-1 {
  width: 20%;
}

.inner_columns-2 {
  width: 45%;
}

.inner_columns-3 {
  width: 70%;
}

.column-background {
  background: #212614;
  color: #fff;
  padding: 1em;
}
