:root {
  --gray-color: #707070;
  --light-blue-color: #1792d2;
  --dark-blue-color: #143774;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

/* ****************************************************************
Typography
**************************************************************** */
h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--light-blue-color);
}

h1 {
  color: var(--dark-blue-color);
  font-size: 2rem;
  margin: 0;
}

a {
  color: var(--light-blue-color);
}

a:hover,
a:focus {
  color: var(--dark-blue-color);
}

strong {
  font-weight: 700;
}

/* h1 subtitle */
.subtitle {
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--light-blue-color);
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: var(--light-blue-color);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.article-read-more:hover,
.article-read-more:focus {
  color: var(--dark-blue-color);
  text-decoration: underline;
}

.article-info {
  margin: 2em 0;
}

/* ****************************************************************
Layout
**************************************************************** */
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  text-align: center;
  background: #f8f8f8;
  padding: 2em 0;
}

/* Navigation */

nav ul {
  list-style: none;
  display: flex;

  padding: 0;

  justify-content: center;
  flex-direction: column;
}

nav li {
  /* margin-left: 2em; */
  margin: 0.5em 0;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
  border-bottom: 2px solid #1792d2;
}

.current-page {
  border-bottom: 2px solid #707070;
}

.current-page:hover,
.current-page:focus {
  color: #707070;
  border-bottom: 2px solid #707070;
}

/* articles */

.article-featured {
  border-bottom: var(--gray-color) 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

/* Media Queries */

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
  }

  main {
    width: 75%;
  }

  aside {
    width: 20%;
  }
}
